<!doctype html>
<html lang="en">

<head>
  <title>About</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="/static/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
</head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          About
        </a>
        <!-- <a href="#" class="simple-text logo-normal">
          Task
        </a> -->
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Students</p>
            </a>
          </li>
          <li class="nav-item active  ">
            <a class="nav-link" href="#0">
              <i class="material-icons">people</i>
              <p>Rahul Chauhan</p>
            </a>
          </li>
          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Rahul Chauhan</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">






<div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h3 class="card-title ">Rahul Chauhan </h3><br>
                  <p class="card-category"> <h6>Python | Django | Flask | ML | WebScrapping</h6></p>
                  <a href="https://www.linkedin.com/in/rahul-chauhan-ab635217a" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-linkedin "></i></a>
                
                <a href="https://github.com/RanaRauff/" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-github"></i></a>
                </div>
                <div class="card-body">
                  
        
        <div class=" text">
          <br>
          <h4>There are many live projects I have developed individually and as a team. 
these projects are deployed on Heroku and some are on IBM cloud services.

<br>
Some of them are:-</h4>
<p>
<h3>Dashboard For Ministry Of Stats And PI.</h3>
Developed a dashboard in django for the graphical and statistical analysis for the user in Smart India Hackathon 2019.  My team won the first position at this event.
Certificate = https://drive.google.com/file/d/1Fa5jXIBB8_pN3Vh5r3qePEPQE-ryxu9C/view?usp=sharing
Link = http://ashishdashboard.herokuapp.com
</p>
<p>
<h3>Seizures</h3>
detection of the epileptic seizures on the given data-set using machine learning by extraction of PyEEG data-set and Django web framework.
Various ML algos are applied such as 
AdaBoost, KNN, Random Forest, Naive Bayes, Decision Tree using sklearn and tensorflow. 
Link=http://minsez2.herokuapp.com
</p>
<p><h3>
AI Based Webapp For TCS Inframind Challenge</h3>
A webapp inspired by deep learning algorithms such as rake nltk and web
scrapping for the display curated content according to the user's preference
and interest. Pure display of flask development along with backend machine
learning algorithms.
Link=https://tryfactory.herokuapp.com
</p>
<p>
  <h3>
Customer Churn Prediction Using Machine Learning For Deloitte TechnoUtsav2.0</h3>
Developed an interactive machine learning software on Customer
Retention/Customer Churn Prediction with the help of SkLearn, Tenserflow
and Keras.
Link=http://predictkaro.herokuapp.com/
</p>
</p><h3>
Interest Blog</h3>
Currently working on a blog cum photo sharing platform.
Database used in this project is MongoDB and is been developed on Django web framework.
Deployed on Heroku cloud service.
Link-https://interestblog.herokuapp.com/register/

</p>
<br>
        


                    
                </div>
                  </div>
                </div>
              </div>
            </div>













          <!-- your content here -->
        </div>
      </div>
      <footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="/about">
              About 
            </a>
          </li>
          
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="/about" target="_blank">Rahul Chauhan</a> 
      </div>
    </div>
  </footer>
    </div>
  </div>
</body>

</html>